@charset "UTF-8";

body {
    margin: 0%;
    background-color: black;
    overflow-x: hidden;
}

header {
    display: grid;
    position: fixed;
    grid-template-columns: 1fr 1fr;
    width: 100vw;
    height: 70px;
    gap: 20px;
    background-color: rgba(0, 0, 0, 0.541);
}

.boxNav1 {
    display: grid;
    margin-left: 10px;
    grid-template-columns: 1fr 1fr;
    width: 300px;
    height: 70px;
    position: sticky;
    align-items: center;
    color: white;
}

.boxNav2 {
    position: absolute;
    right: 20px;
    width: 300px;
    height: 70px;
    justify-items: center;
}

 

#navUl a {
    text-decoration: none;
    font-size: 2em;
    color: white;
}

#logoBox {
    width: 40px;
    height: 60px;
}

#logoImg {
    width: 40px;
    height: 60px;
    margin-left: 10px;
    margin-top: 5px;
}

#txt {
    position: relative;
    right: 40px;
}

#txt h1 {
    position: relative;
    margin-top: 0%;
    margin-bottom: 0%;
    font-size: 2em;
}

#txt p {
    margin: 0%;
}

@media (max-width: 638px){
   .boxNav1, .boxNav2 {
    width: 230px;
    }

    .boxNav1 {
        margin-left: 10px;
    }

    .boxNav2 {
        position: absolute;
        right: 0;
    }

    .boxNav2 {
        position: absolute;
        right: 40px;
    }
}

@media (max-width: 638px) {
    #txt h1 {
        font-size: 1.5em;
    }

    #txt p {
        font-size: 0.7em;
    }

    #txt {
        position: relative;
        width: 120px;
        height: 70px;
        margin-top: 13px;
    }

    #logoBox {
        position: relative;
        bottom: 8px;
    }
}

picture #imgPr {
    width: 100vw;
    height: 600px;
}

@media (max-width: 638px) {
    picture #imgPr {
        height: 600px;
    }
}

main p {
    color: white;
}